<% layout("/layouts/boilerplate") -%>

    <body>
        <div class="row mt-3">
            <div class="col-8 offset-4">
            <h3 >Listing Details</h3>
            </div>
            <div class="card show-card col-6 offset-4 mt-2" >
                <img class="show-img card-img-top" src="<%= listing.image  %>" alt="Listing Image" />

                <div class="card-body">
                    <b>
                        <br>
                        <h5 class="card-title">
                            <%= listing.title %>
                        </h5>
                    </b>
                        <p>
                            <%= listing.description%><br>
                            ₹ <%= listing.price ? listing.price.toLocaleString("en-IN") : "N/A" %> <br>
                            <%= listing.location %> <br>
                            <%= listing.country %> <br>
                        </p>
                </div>
            </div>
            <div class="show-btns ">
                <a href="/listings/<%= listing._id %>/edit" class=" btn btn-dark update-btn offset-4 ">Edit</a>
                <form action="/listings/<%=listing._id%>?_method=Delete" method="POST">
                    <button class="btn btn-dark offset-6 ">Delete</button>
                </form>
            </div>
        </div>
    </body>
